<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>

    <meta charset="utf-8">
    <title>Log Out | Guardian Eye - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/app.min.css" rel="stylesheet" type="text/css">
   
</head>

<body>

    <div class="auth-page-wrapper pt-5">
      
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <h1 style="color: white; font-size: 40px;"><b>GuardianEye</b></h1>
                                <h5 style="color: white;">Real Time Crash and Fire Detection System</h5>
                            </div>

                        </div>
                    </div>
                </div>
                 <div class="log-container" style="margin-top: 10%;">

                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-12 col-xl-5">
                            <div class="card mt-4 card-bg-fill">
                                <div class="card-body p-40 text-center">


                                    <div class="mt-4 pt-2">
                                        <h5>You are Logged Out</h5>
                                        <p class="text-muted">Thank you for using <span
                                                class="fw-semibold">GuardianEye</span></p>
                                                <img src="../static/images/coffee.png" alt="User" class="small-image" />


                                        <div class="mt-4">
                                            <a href="/signin" class="btn btn-success w-100">Sign In Again</a>
                                        </div>
                                    </div>
                                
                                </div>
                              

                            </div>
                       
                        </div>
                    
                    </div>
               
                </div>
            </div>

          
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <p class="mb-0 text-muted">&copy; <script>document.write(new Date().getFullYear())</script> GuardianEye <i class="mdi mdi-heart text-danger"></i></p>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        </div>
     


</body>

</html>